body {
  background: url(https://images3.alphacoders.com/591/thumb-1920-591067.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.episode {
  height: 1%;
  background-color: white;
  margin: 0 auto;
  margin-top: 1%;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  border: 2px solid;
  border-color: #cccc00;
  display: block;

}


.episodes {
  padding-top: 40%;
}

img {
  border: 2px solid;
  border-color: black;
  border-radius: 50%;
  margin: 0 auto;
}

.characters {
  padding: 5%
  height: auto;
  display: block;
}

.character {
  width: 25%;
  padding: 0%;
  margin: 0 auto;
  float: left;
  display: block;
}

.count {
  background-color: white;
  margin: 0 auto;
  float: left;
}
