





body {
  background: url(https://images3.alphacoders.com/591/thumb-1920-591067.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.episode {
  height: 1%;
  background-color: white;
  margin: 0 auto;
  margin-top: 1%;
  width: 60%;
  text-align: center;
  border-radius: 25px;
  border: 2px solid;
  border-color: #cccc00;
  display: block;

}

.episodes {
  padding-top: 10%;
}

.ChaPic {
  border: 2px solid;
  border-color: black;
  border-radius: 50%;
  margin: 0 auto;
}

.characters {
  padding: 5%
  height: 40%;
  display: block;
  padding-left: 10%;
  padding-top: 2%;
}

.character {
  width: 15%;
  padding: 0%;
  margin: 0 auto;
  float: left;
  display: block;
}


.count {
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 50%;
}

.SimpT {
  height: 213px;
  width: 480px;
}

.reset {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 50%;
  margin: 0 auto;



}
.reset:hover {background-color: #3e8e41}

.reset:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
